<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">
            {{ isEditMode ? 'Editar Inscripcion' : 'Crear Nueva inscripcion' }}
          </h3>
        </div>
        <div class="card-body">
          <form [formGroup]="incMateriaForm" (ngSubmit)="onSubmit()">
            <div class="row">
              
              <!-- usuario -->
              <div class="mb-3">
                <label for="usuario" class="form-label">Usuario</label>
                <select
                  id="usuario"
                  class="form-select"
                  name="usuario">
                  <option value="" disabled selected>Seleccione un usuario</option>
                  <option *ngFor="let u of usuariosIdNombre" [value]="u.id">
                    {{ u.nombre }}
                  </option>
                </select>
              </div>

              <!-- materia -->
              <div class="mb-3">
                <label for="materia" class="form-label">Materia</label>
                <select
                  id="materia"
                  class="form-select"
                  name="materia"
                  >
                  <option value="" disabled selected>Seleccione una materia</option>
                  <option *ngFor="let m of materiasIdNombre" [value]="m.id">
                    {{ m.name }}
                  </option>
                </select>
              </div>

            </div>
             
            <!-- Botones -->
            <div class="d-flex gap-2 justify-content-end">
              <button type="button" class="btn btn-secondary" (click)="onCancel()">
                Cancelar
              </button>
              <button type="submit" class="btn btn-primary" [disabled]="incMateriaForm.invalid">
                {{ isEditMode ? 'Actualizar' : 'Crear' }} Inscripción
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
